.calendar {
  width: 90.7%;
  border-radius: 10px;
  box-shadow: 10px 5px 5px black;
}
.year {
  font-size: 1.125rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  display: block;
}
.month {
  font-size: 1.563rem;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  display: block;
}
